<!DOCTYPE html>
<html lang="en">
{{ block "head" . }}{{end}}
<body>
  <div class="container">

    <!-- Create an Invalidation Request -->
    <div class="card">
      <div class="card-body">
        <form>
          <legend>Create Invalidation</legend>
          <div class="mb-3">
            <label for="distribution" class="form-label">Distribution</label>
            <select id="distribution" class="form-select">
            {{range .Distributions}}
              <option value={{ . }}>{{ . }}</option>
            {{end}}
            </select>
          </div>

          <div class="mb-3">
            <label for="paths" class="form-label">Paths (Comma separated list)</label>
            <input type="text" class="form-control" id="paths" placeholder="/docs/*, /docs-qa/*">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        

      </div>
    </div>

    <!-- Space divider -->
    <div class="form-group">
      &nbsp;
    </div>

    <!-- Get Invalidation Status -->
    <div class="card">
      <div class="card-body">
        <form>
          <legend>Get Invalidation Status</legend>
          <div class="mb-3">
            <label for="distribution" class="form-label">Distribution</label>
            <select id="distribution" class="form-select">
            {{range .Distributions}}
              <option value={{ . }}>{{ . }}</option>
            {{end}}
            </select>
          </div>

          <div class="mb-3">
            <label for="invalidationID" class="form-label">Invalidation ID</label>
            <input type="text" class="form-control" id="invalidationID" placeholder="I16DJ4MNW9OOJS">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        

      </div>
    </div>

  </div>

    {{ block "bootstrap_scripts" . }}{{end}}
</body>
</html>